body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eae4d7;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.input-group label {
    font-size: 11px;
    color: #666;
}

.submit-btn {
    color: #ffffff;
    background-color: #c7c79f;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 10em;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    margin-left: 60px;
}

.submit-btn:hover {
    background-color: #819d67;
}